.mt-25 {
  margin-top: 25px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.pl-24 {
  padding-left: 24px;
}
.mt-120 {
  margin-top: 120px;
}
.MuiFormControl-root {
  min-width: 100% !important;
}
.add-category {
  margin-top: 65px !important;
}
.width-90 {
  width: 90%;
}
.bar-link {
  color: #fff !important;
  padding: 0 10px;
  text-decoration: none;
}